<div class="videoMeta">
  <a href="{{claim.OdyseeUrl}}" rel="nofollow noreferrer">View on Odysee</a><br>
  {{#unless download}}
  <a href="{{stream}}?download=1" rel="nofollow noreferrer">
    <button class="videoMeta__download">
      <span class="material-icons-outlined">download</span> Download
    </button>
  </a>
  {{/unless}}
  <p><span class="material-icons-outlined" title="Views">visibility</span> {{claim.Views}}</p>
  <div class="videoMeta__thumbs">
    <p><span class="material-icons-outlined" title="Likes">thumb_up</span> {{claim.Likes}}</p>
    <p><span class="material-icons-outlined" title="Dislilkes">thumb_down</span> {{claim.Dislikes}}</p>
  </div>
  <p><span class="material-icons-outlined" title="License">copyright</span> {{claim.License}}</p>
</div>