iframe {
  border: none;
  overflow: hidden;
}

main {
  margin: 0 24vw;
}

h1 {
  font-size: 24px;
}

.postTitle {
  font-size: 32px;
}

.articleMeta__wrapper,
.articleMeta {
  display: flex;
  gap: 12px;
}

.articleMeta__wrapper {
  gap: 2rem;
}

article img {
  text-align: center;
  max-width: 100%;
}

@media only screen and (min-width: 813px) and (max-width: 1366px) {
  main {
    margin: 0 12vw;
  }
}

@media only screen and (max-width: 812px) {
  main {
    margin: -2em 0 0 0;
  }

  .articleMeta p {
    margin: 0;
  }

  .articleMeta {
    margin-top: 1em;
  }

  .articleMeta__wrapper {
    flex-direction: column;
    gap: 12px;
  }
}