.channel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.coverImg {
  object-fit: cover;
  width: 100%;
  height: 240px;
}

.subscribeBtn {
  border-radius: 4px;
  padding: 0.5em;
  background-color: #212121;
  color: #fff;
  border: none;
  cursor: pointer;
}

.subscribeBtn:hover {
  background-color: #2196f3;
}

@media only screen and (max-width: 812px) {
  .coverImg {
    max-height: 72px;
  }
}