main {
  margin: 0 15vw;
}

.plyr:fullscreen video {
  max-height: 100%;
}

.plyr,
.videoWrapper,
video {
  position: relative;
  aspect-ratio: 16 / 9;
  max-height: 720px;
  width: 100%;
  background-color: black;
}

.videoData {
  display: flex;
  flex-direction: row;
  gap: 15px
}

.videoData__left {
  width: 80%;
}

.videoData__right {
  width: 20%;
}

.videoMeta {
  width: 20%;
}

.videoMeta__wrapper {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.videoMeta__download {
  border-radius: 4px;
  margin-top: 1em;
  padding: 0.5em;
  background-color: #212121;
  color: #fff;
  border: none;
  cursor: pointer;
}

.videoMeta__download:hover {
  background-color: #2196f3;
}

.videoDesc {
  width: 80%;
}

.description {
  margin-top: -1em;
}

.videoDesc__channel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.videoDesc__claimId {
  font-size: 12px;
}

.relVids {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.relVid__link {
  color: #212121;
  word-wrap: break-word;
}

.relVid__thumbnailWrapper {
  padding: 28.125%;
  position: relative;
  box-sizing: border-box;
}

.relVid__thumbnail {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.relVid__duration {
  position: absolute;
  background-color: rgba(35, 35, 35, 0.75);
  color: white;
  border-radius: 2px;
  padding: 2px;
  font-size: 16px;
  right: 0.25em;
  bottom: -0.75em;
}

.relVid__meta {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  justify-content: space-between;
}

@media only screen and (max-width: 812px) {
  main {
    margin: 0;
  }
  .videoData {
    flex-direction: column;
  }
  .videoData__side {
    width: 100%;
  }
  .videoMeta {
    width: 100%;
  }
  .videoMeta__wrapper {
    flex-direction: column;
  }
  .videoMeta__thumbs {
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin-top: -1.75em;
    height: 1.5em;
  }
  .videoDesc {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .relVid__link {
    color: #ffffff;
  }
}